/* your-styles.module.css */

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh; /* This makes the container take the full height of the viewport */
}
