.thead{
  display: block;
  width: 100%;
  background-color: brown;
}
.tbody{
  display: block;
}
/* styles.css */
.requestTitle{
  color: #3fb55d;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 22px;
}

.customTableHeader {
  background-color: rgb(91, 131, 83); /* Primary color */
  color: #ffffff; /* White text color */
  font-weight: bold;
 font-size: 76px !important; 

  /* font-size: 300px;
  /* color: white; */
}

.customTableHeader:hover {
  background-color: orange; /* Secondary color on hover */
}
/* styles.css */

.customButton1 {
  color: #ffffff; /* White text color */
  background-color: #3f51b5; /* Primary color */
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
}
.customButton2 {
  color: #ffffff; /* White text color */
  background-color: #3fb55d; /* Primary color */
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;

}
.customButton3 {
  color: #ffffff; /* White text color */
  background-color: #e61212; /* Primary color */
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 45px;

}

.customButton1:hover,
.customButton2:hover,
.customButton3:hover {
  background-color: #1976d2; /* Secondary color on hover */
}
.signatures{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: green; */
  /* margin-bottom: 30px; */
}
.print{
  height: 100%;
  margin-bottom: 50px;
  /* background-color: rosybrown; */
}
.rightContainer{
  display: grid;
  align-items: right;
  justify-content: center;
  /* background-color: #1976d2; */
}
.checkboxes{
  /* background-color: red; */
  align-items: right;
  justify-content: right;
}


.printFormContainer{
  max-width: 800px;
  margin: 10px auto;
}

.header {
  display: flex;
align-items: center;
justify-content: center;
}
.signatureone{
  width: 200px;
}
.signaturetwo{
  width: 200px;
}